[submodule "home/dot_local/external_fzf"]
	path = home/dot_local/share/zsh/plugins/external_fzf
	url = https://github.com/junegunn/fzf
[submodule "home/dot_local/zsh/external_zsh-history-substring-search"]
	path = home/dot_local/share/zsh/plugins/external_zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "home/dot_local/zsh/external_zsh-autosuggestions"]
	path = home/dot_local/share/zsh/plugins/external_zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "home/dot_local/zsh/external_zsh-syntax-highlighting"]
	path = home/dot_local/share/zsh/plugins/external_zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "home/dot_vim/pack/plugins/start/external_vim-commentary"]
	path = home/dot_vim/pack/plugins/start/external_vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "home/dot_vim/pack/plugins/start/external_vim-rsi"]
	path = home/dot_vim/pack/plugins/start/external_vim-rsi
	url = https://github.com/tpope/vim-rsi
[submodule "home/dot_vim/pack/plugins/start/external_fzf"]
	path = home/dot_vim/pack/plugins/start/external_fzf
	url = https://github.com/junegunn/fzf
[submodule "home/dot_vim/pack/plugins/start/external_fzf.vim"]
	path = home/dot_vim/pack/plugins/start/external_fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "home/dot_vim/pack/plugins/start/external_vim-fugitive"]
	path = home/dot_vim/pack/plugins/start/external_vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "home/dot_vim/pack/plugins/start/external_vim-surround"]
	path = home/dot_vim/pack/plugins/start/external_vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "home/dot_vim/pack/plugins/start/external_vim-repeat"]
	path = home/dot_vim/pack/plugins/start/external_vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "home/dot_local/zsh/external_zsh-abbr"]
	path = home/dot_local/share/zsh/plugins/external_zsh-abbr
	url = https://github.com/olets/zsh-abbr
[submodule "home/dot_local/zsh/external_fzf-tab"]
	path = home/dot_local/share/zsh/plugins/external_fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "home/dot_vim/pack/plugins/start/external_vim-gitgutter"]
	path = home/dot_vim/pack/plugins/start/external_vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "home/dot_vim/pack/plugins/start/external_vim-sleuth"]
	path = home/dot_vim/pack/plugins/start/external_vim-sleuth
	url = https://github.com/tpope/vim-sleuth
